* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Golos Text";
  -webkit-appearance: none;
}

a {
  color: #000;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: #EDF0F5;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 24px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 16px;
  background: #53B374;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.btn.border {
  background: #FFFFFF;
  color: #273444;
  border: 1px solid #CCD1D8;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #273444;
}

.subtitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 109%;
  text-align: center;
  color: #979CA3;
}

.active-flex {
  display: flex !important;
}

.active-block {
  display: block !important;
}

.header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EFF2F7;
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .log-lang {
  display: none;
  align-items: center;
}
.header .container .log-lang .lang {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #979CA3;
}
.header .container .log-lang .lang-m {
  display: none;
}
.header .container .log-lang .btn {
  margin-left: 32px;
}
.header .container .header-profile {
  display: none;
  align-items: center;
}
.header .container .header-profile.active {
  display: flex;
}
.header .container .header-profile .phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #979CA3;
}
.header .container .header-profile .phone img {
  margin-right: 8px;
}
.header .container .header-profile .user {
  width: 40px;
  height: 40px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0 120px 0;
  display: none;
}
.section .container {
  padding: 60px 0 0 0;
}

.section-type-ads {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 80px 0 120px 0;
  display: none;
}
.section-type-ads .container {
  padding: 60px 0 0 0;
  display: flex;
  align-items: flex-start;
}

.section-fill {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0 120px 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -1000%;
}
.section-fill.active {
  opacity: 1;
  pointer-events: visible;
  position: relative;
  top: 0;
}
.section-fill-top {
  background: #fff;
  width: 100%;
  padding: 32px 0 32px 0;
}
.section-fill-top .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-fill-top .container .title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 600;
}
.section-fill-top .container .title a {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fill-body {
  padding: 40px 0 150px 0;
}
.section-fill-body .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-fill-body .container .form {
  width: 100%;
  max-width: 505px;
}
.section-fill-body .container .form .rows-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.section-fill-body .container .form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.section-fill-body .container .form-item.w49 {
  width: 100%;
  max-width: 240px;
}
.section-fill-body .container .form-item span {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #273444;
}
.section-fill-body .container .form-item .drop-dwn {
  width: 100%;
  min-height: 64px;
  background: #FFFFFF;
  border: 1px solid #CCD1D8;
  border-radius: 16px;
}
.section-fill-body .container .form-item .drop-dwn.active .drop-dwn-title img {
  transform: rotate(180deg);
}
.section-fill-body .container .form-item .drop-dwn.active .drop-dwn-content {
  display: block;
}
.section-fill-body .container .form-item .drop-dwn-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  padding: 20px;
  color: #273444;
  transition: 0.3s;
}
.section-fill-body .container .form-item .drop-dwn-title img {
  transition: 0.3s;
}
.section-fill-body .container .form-item .drop-dwn-content {
  padding: 0 20px 20px 20px;
  display: none;
}
.section-fill-body .container .form-item .row-checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-fill-body .container .form-item .row-checkbox .swiper-container {
  overflow: visible;
  width: 100%;
}
.section-fill-body .container .form-item .row-checkbox .swiper-container .swiper-wrapper .swiper-slide:last-child {
  margin: 0 !important;
}
.section-fill-body .container .form-item .row-checkbox-item {
  width: 100%;
  max-width: 163px;
  min-height: 64px;
  position: relative;
}
.section-fill-body .container .form-item .row-checkbox-item input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  border: none;
  background: transparent;
}
.section-fill-body .container .form-item .row-checkbox-item input:checked ~ .text {
  border: 2px solid #53B374;
}
.section-fill-body .container .form-item .row-checkbox-item input:checked ~ .text .border {
  border: 8px solid #53B374;
}
.section-fill-body .container .form-item .row-checkbox-item .text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background: #FFFFFF;
  border-radius: 16px;
  border: 2px solid transparent;
}
.section-fill-body .container .form-item .row-checkbox-item .text .border {
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  border: 1px solid #CCD1D8;
}
.section-fill-body .container .form-item .row-checkbox-item .text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  width: 100%;
  color: #273444;
}
.section-fill-body .container .form-item .input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-fill-body .container .form-item .input input, .section-fill-body .container .form-item .input textarea {
  width: 100%;
  height: 100%;
  min-height: 64px;
  padding: 20px;
  font-weight: normal;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CCD1D8;
  border-radius: 16px;
  line-height: 150%;
  color: #273444;
  resize: none;
}
.section-fill-body .container .form-item .input ::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #273444;
}
.section-fill-body .container .form-item .input p {
  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  color: #979CA3;
}
.section-fill-body .container .box-preview {
  width: 100%;
  max-width: 543px;
  padding: 56px;
  background: #FFFFFF;
  margin-top: -150px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 64px;
}
.section-fill-body .container .box-preview-subtitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #979CA3;
}
.section-fill-body .container .box-preview-title {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 24px;
  line-height: 133%;
  color: #273444;
}
.section-fill-body .container .box-preview-price {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #273444;
}
.section-fill-body .container .box-preview-description {
  margin-bottom: 32px;
}
.section-fill-body .container .box-preview-description span {
  width: 100%;
  display: block;
  margin-bottom: 8px;
}
.section-fill-body .container .box-preview hr {
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #CCD1D8;
}
.section-fill-body .container .box-preview-types {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.section-fill-body .container .box-preview-types .time-create {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section-fill-body .container .box-preview-types .time-create span {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}
.section-fill-body .container .box-preview-types .start-create {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section-fill-body .container .box-preview .btn {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 24px;
}
.section-fill-body .container .box-preview span {
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  color: #979CA3;
}
.section-fill-body .container .box-preview p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #273444;
}

.section-successfully {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0 120px 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.section-successfully .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.section-successfully .container .successfully-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.02em;
  color: #273444;
}
.section-successfully .container .successfully-link {
  margin-bottom: 48px;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #979CA3;
}
.section-successfully .container .successfully-link a {
  display: inline;
  text-decoration: underline;
  color: #53B374;
}
.section-successfully .container .successfully-btns {
  width: 100%;
  max-width: 431px;
  display: flex;
  flex-direction: column;
}
.section-successfully .container .successfully-btns .btn {
  padding: 20px 24px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.block-quiz {
  width: 100%;
}
.block-quiz.b-left .block-quiz-item {
  align-items: flex-start;
  text-align: left;
}
.block-quiz-item {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.block-quiz-item.active {
  display: flex;
}
.block-quiz-item .title {
  margin-bottom: 16px;
}
.block-quiz-item .subtitle {
  margin-bottom: 64px;
}
.block-quiz-item .block {
  width: 100%;
  max-width: 680px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #FFFFFF;
  border-radius: 64px;
}
.block-quiz-item .block-title {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 22px;
  line-height: 145%;
  text-align: center;
  color: #979CA3;
}
.block-quiz-item .block-title .b-nums {
  display: inline;
}
.block-quiz-item .block form {
  width: 100%;
  max-width: 534px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 32px;
}
.block-quiz-item .block form .form-item {
  width: 100%;
  max-width: 400px;
  min-height: 64px;
  border: 1px solid #DCDCDC;
  border-radius: 16px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  position: relative;
}
.block-quiz-item .block form .form-item.active input {
  opacity: 0;
  pointer-events: none;
}
.block-quiz-item .block form .form-item span {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
  color: #979CA3;
}
.block-quiz-item .block form .form-item .hid-input {
  width: 100%;
  z-index: 12;
  opacity: 1 !important;
  pointer-events: visible !important;
  cursor: pointer;
  color: #979CA3;
}
.block-quiz-item .block form .form-item .row-pass {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.block-quiz-item .block form .form-item .row-pass-item {
  width: 6px;
  height: 6px;
  margin-right: 3px;
  border-radius: 50%;
  background: #CCD1D8;
}
.block-quiz-item .block form .form-item input {
  width: 100%;
  background: transparent;
  border: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #273444;
}
.block-quiz-item .block form .form-item ::placeholder {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #273444;
}
.block-quiz-item .block form .btn {
  min-width: 110px;
  margin-left: 32px;
}
.block-quiz-item .block-politic {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
  color: #979CA3;
}
.block-quiz-item .block-politic a {
  color: #979CA3;
}
.block-quiz-item .block .row-btn-set {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-quiz-item .block .row-btn-set a {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #53B374;
}
.block-quiz-item .box-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.block-quiz-item .box-type-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 64px;
  background: #EDF0F5;
  border-radius: 64px;
  width: 100%;
  max-width: 520px;
}
.block-quiz-item .box-type-item .text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.block-quiz-item .box-type-item .text span {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: #273444;
}
.block-quiz-item .box-type-item .text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #979CA3;
}
.footer {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 0px #CCD1D8;
  position: fixed;
  z-index: 40;
  left: 0;
  bottom: 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container span {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: block;
  color: #979CA3;
}

@media (max-width: 980px) {
  .container {
    padding: 0 15px !important;
  }

  .btn {
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
  }

  .title {
    font-size: 24px;
    line-height: 150%;
  }

  .subtitle {
    font-size: 16px;
    line-height: 150%;
  }

  .header {
    min-height: 56px;
  }
  .header .container .logo {
    width: 80px;
  }
  .header .container .logo img {
    width: 100%;
  }
  .header .container .log-lang .lang {
    display: none;
  }
  .header .container .log-lang .lang-m {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .header .container .log-lang .lang-m.active .lang-m-top img {
    transform: rotate(180deg);
  }
  .header .container .log-lang .lang-m.active .lang-m-content {
    display: flex;
  }
  .header .container .log-lang .lang-m-top {
    display: flex;
    align-items: center;
  }
  .header .container .log-lang .lang-m-top span {
    display: block;
    margin-right: 2px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #979CA3;
  }
  .header .container .log-lang .lang-m-top img {
    width: 16px;
    transition: 0.3s;
  }
  .header .container .log-lang .lang-m-content {
    position: absolute;
    top: 120%;
    display: none;
    flex-direction: column;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: auto;
    max-height: 100px;
    padding-right: 10px;
  }
  .header .container .log-lang .lang-m-content a {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
    color: #979CA3;
  }
  .header .container .header-profile .phone {
    display: none;
  }
  .section {
    padding: 76px 0 100px 0;
  }
  .section-type-ads {
    padding: 76px 0 100px 0;
  }

  .section-fill {
    padding: 56px 0 100px 0;
    overflow: hidden;
  }
  .section-fill-top {
    padding: 24px 0 24px 0;
  }
  .section-fill-top .container .title {
    margin-bottom: 8px;
  }
  .section-fill-top .container .title a {
    margin-right: 8px;
  }
  .section-fill-top .container .title a img {
    width: 32px;
  }
  .section-fill-top .container .subtitle {
    font-size: 12px;
  }
  .section-fill-body {
    padding: 16px 0 16px 0;
  }
  .section-fill-body .container {
    flex-direction: column;
  }
  .section-fill-body .container .form {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .section-fill-body .container .form .rows-items {
    flex-direction: column;
    justify-content: center;
  }
  .section-fill-body .container .form-item {
    margin-bottom: 16px;
  }
  .section-fill-body .container .form-item.w49 {
    width: 100%;
    max-width: 100%;
  }
  .section-fill-body .container .form-item span {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .section-fill-body .container .form-item .drop-dwn {
    min-height: 48px;
  }
  .section-fill-body .container .form-item .drop-dwn-title {
    padding: 12px 16px;
    font-size: 14px;
  }
  .section-fill-body .container .form-item .drop-dwn-title img {
    width: 16px;
  }
  .section-fill-body .container .form-item .drop-dwn-content {
    padding: 12px 16px;
    font-size: 14px;
  }
  .section-fill-body .container .form-item .row-checkbox .swiper-container {
    overflow: visible;
    width: 100%;
  }
  .section-fill-body .container .form-item .row-checkbox .swiper-container .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  .section-fill-body .container .form-item .row-checkbox-item .text {
    padding: 14px 16px;
  }
  .section-fill-body .container .form-item .row-checkbox-item .text .border {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .section-fill-body .container .form-item .row-checkbox-item .text p {
    font-size: 14px;
  }
  .section-fill-body .container .box-preview {
    margin-top: 0;
    padding: 24px;
    border-radius: 32px;
  }
  .section-fill-body .container .box-preview-types {
    flex-direction: column;
    margin-bottom: 24px;
    align-items: flex-start;
  }
  .section-fill-body .container .box-preview-types .time-create {
    margin-bottom: 8px;
  }
  .section-fill-body .container .box-preview .btn {
    border-radius: 16px;
    font-size: 20px;
    padding: 20px 16px;
  }

  .section-successfully {
    padding: 76px 0 100px 0;
  }
  .section-successfully .container .successfully-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .section-successfully .container .successfully-link {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 150%;
  }
  .section-successfully .container .successfully-link a {
    display: block;
  }
  .section-successfully .container .successfully-btns .btn {
    margin-bottom: 16px;
    font-size: 16px;
    padding: 20px 16px;
    border-radius: 16px;
  }
  .section-successfully .container .successfully-btns .border {
    font-size: 16px;
  }

  .block-quiz.b-left .block-quiz-item {
    text-align: center;
    align-items: center;
  }
  .block-quiz.b-left .block-quiz-item .subtitle {
    width: 80%;
    text-align: center;
  }
  .block-quiz-item .title {
    margin-bottom: 8px;
  }
  .block-quiz-item .subtitle {
    width: 60%;
    margin-bottom: 24px;
  }
  .block-quiz-item .block {
    border-radius: 32px;
    padding: 24px 16px;
  }
  .block-quiz-item .block-title {
    margin-bottom: 24px;
    font-size: 14px;
  }
  .block-quiz-item .block form {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .block-quiz-item .block form .form-item {
    margin-bottom: 16px;
    padding: 8px 16px;
  }
  .block-quiz-item .block form .form-item span {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .block-quiz-item .block form .form-item input {
    font-size: 16px;
  }
  .block-quiz-item .block form .form-item ::placeholder {
    font-size: 16px;
  }
  .block-quiz-item .block form .btn {
    margin-left: 0;
    padding: 20px;
    font-size: 20px;
  }
  .block-quiz-item .block-politic {
    font-size: 10px;
    line-height: 12px;
  }
  .block-quiz-item .block-politic br {
    display: none;
  }
  .block-quiz-item .block .row-btn-set {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .block-quiz-item .block .row-btn-set a {
    margin-bottom: 16px;
  }
  .block-quiz-item .box-type {
    margin-top: 0;
    flex-direction: column;
  }
  .block-quiz-item .box-type-item {
    padding: 24px;
    margin: 16px;
    border-radius: 32px;
  }
  .block-quiz-item .box-type-item .text span {
    font-size: 20px;
  }
  .block-quiz-item .box-type-item .text p {
    font-size: 14px;
  }
  .block-quiz-item .box-type-item img {
    width: 64px;
  }

  .footer {
    min-height: 80px;
  }
  .footer .container a {
    display: flex;
  }
}